<h1>Welcome!</h1>
<p>Please upload a csv file.</p>
<%= render 'form' %>

<ul id="tree">
    <li><span class="caret"><%= @pages.first&.name %></span>

      <ul class="nested">
        <% @pages.first&.nested_pages&.each do |nested|%>
            <li><span class="caret"><%= nested.name %></span>

            <ul class="nested">
            <% nested.nested_pages.each do |child| %>
                <li><%= child.name %></li>
            <% end %>
            </ul>
            </li>
        <% end %>
      </ul>
    </li>
</ul>

<script>
const toggler = document.querySelectorAll('.caret')
let transform = Array.from(toggler)

transform.forEach(nested => {
  nested.addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  })
})
</script>